<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.acidanthera.driver.CPUFriendDataProvider</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CPUFriendDataProvider</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>CPUFriendDataProvider</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleACPIPlatform</string>
			<key>IOClass</key>
			<string>AppleACPICPU</string>
			<key>IONameMatch</key>
			<string>processor</string>
			<key>IOProbeScore</key>
			<integer>1100</integer>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
			<key>cf-frequency-data</key>
			<data>
			PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4K
			PCFET0NUWVBFIHBsaXN0IFBVQkxJQyAiLS8vQXBwbGUgQ29tcHV0
			ZXIvL0RURCBQTElTVCAxLjAvL0VOIiAiaHR0cDovL3d3dy5hcHBs
			ZS5jb20vRFREcy9Qcm9wZXJ0eUxpc3QtMS4wLmR0ZCI+CjxwbGlz
			dCB2ZXJzaW9uPSIxLjAiPgogIDxkaWN0PgogICAgPGtleT5wbXNw
			RmlsZTwva2V5PgogICAgPGludGVnZXI+MTI8L2ludGVnZXI+CiAg
			ICA8a2V5PklPUGxhdGZvcm1Qb3dlclByb2ZpbGU8L2tleT4KICAg
			IDxkaWN0PgogICAgICA8a2V5PkNQVUZsb29yPC9rZXk+CiAgICAg
			IDxpbnRlZ2VyPjEyMDA8L2ludGVnZXI+CiAgICAgIDxrZXk+TmV0
			d29ya1RpbWVyRGVsYXk8L2tleT4KICAgICAgPGludGVnZXI+OTAw
			PC9pbnRlZ2VyPgogICAgICA8a2V5PlN0YW5kYnlEZWxheUhpZ2g8
			L2tleT4KICAgICAgPGludGVnZXI+ODY0MDA8L2ludGVnZXI+CiAg
			ICAgIDxrZXk+U3RhbmRieURlbGF5PC9rZXk+CiAgICAgIDxpbnRl
			Z2VyPjg2NDAwPC9pbnRlZ2VyPgogICAgICA8a2V5PlN0YW5kYnlC
			YXR0ZXJ5VGhyZXNob2xkPC9rZXk+CiAgICAgIDxpbnRlZ2VyPjUw
			PC9pbnRlZ2VyPgogICAgICA8a2V5PlRocmVzaG9sZEV4dE5vbkhJ
			RDwva2V5PgogICAgICA8aW50ZWdlcj4yPC9pbnRlZ2VyPgogICAg
			ICA8a2V5PlByb3hpbWl0eVdha2U8L2tleT4KICAgICAgPGludGVn
			ZXI+MDwvaW50ZWdlcj4KICAgICAgPGtleT5JT1BsYXRmb3JtU3lz
			dGVtU2xlZXBQb2xpY3k8L2tleT4KICAgICAgPGRhdGE+VTB4UVZB
			SUFDZ0FnQUFBQUlBQUFBQUFBQUFBQUFBQUFCUUFBQUFBQUFBQUF6
			WmNCQUFBQUFFQUdBQUFBQUFBQUdBQUFBQmdBQUFBRgpBQUFBQUFB
			QUFBRE5sd0VBQUFBQVFBWUFBQUFBQUFBWUFBQUFHQUFBQUFJQUFB
			QUJBQUFBQU0yWEFRQUFBQUJBQmhBQUFBQVFBQ0JBCkFBQWdRQUFB
			QWdBQUFBZ0FBQUFBelpjQkFBQUFBRUFHRUFBQUFCQUFBTUFBQUFE
			QUFBQUNBQUFBQ0FBQUFBRE5sd0VBQUFBQVFBWUEKQUFBQUFBQUln
			QUFBQ0lBQUFBVUFBQUFBQUFBQUFNMlhBUUFBQUFCQUJnQUFBQUFB
			QUNnQUFBQWdBQUFBQlFBQUFBQUFBQUFBelpjQgpBQUFBQUZBR0FB
			QVFBQUFBQUFBQUFBQUFBQUFGQUFBQUFBQUFBQURObHdFQUFBQUFR
			QVlBQUFBQUFBQUFBQUFBQUFBQUFBSUFBQUFCCkFBQUFBTTJYQVFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFnQUFBQUFBQUFBQXpa
			Y0JBQUFBQUE9PTwvZGF0YT4KICAgICAgPGtleT5GcmVxdWVuY3lW
			ZWN0b3JzPC9rZXk+CiAgICAgIDxhcnJheT4KICAgICAgICA8ZGF0
			YT4KQWdBQUFCUUFBQUFCQUFBQUFBQUFBT2dEQUFBQUFBQUF5QUFB
			QUFBQUFBQUFaUFFCQUFBQUFBQUFBRXZvQXdBQUFBQUFBQUF5Ly8v
			LwovLy8vRHdBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			CkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEK
			QUFBQUFBQUFBQUFBQUFBQUFCa0FBQUFCQUFBQUFBQUFBT2dEQUFB
			QUFBQUF5QUFBQUFBQUFBQUJaT2dEQUFBQUFBQUFBVXZRQndBQQpB
			QUFBQUFFeXVBc0FBQUFBQUFBQUdhQVBBQUFBQUFBQUFBRC8vLy8v
			Ly84UEFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFCNEFBQUFCQUFBQUFB
			QUFBTkFIQUFBQUFBQUF5QUFBQUFBQUFBQUNaUFFCQUFBQQpBQUFB
			QWpMb0F3QUFBQUFBQUFJWjNBVUFBQUFBQUFBQk10QUhBQUFBQUFB
			QUFSbTRDd0FBQUFBQUFBQXlvQThBQUFBQUFBQUFHZi8vCi8vLy8v
			dzhBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFDTUFB
			QUFCQUFBQUFBQUFBTkFIQUFBQUFBQUF5QUFBQUFBQQpBQUFEWlBR
			QkFBQUFBQUFBQXpMb0F3QUFBQUFBQUFNWjBBY0FBQUFBQUFBQ01y
			Z0xBQUFBQUFBQUFobWdEd0FBQUFBQUFBRXkvLy8vCi8vLy9Ed0FB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFHUUFBQUFEQUFBQUFBQUFBS0NHQVFBQQpBQUFBMEFjQUFB
			QUFBQUFFWktBUEFBQUFBQUFBQXpKd0Z3QUFBQUFBQUFJWi8vLy8v
			Ly8vRHdBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFB
			QUFBLy8vLy8vLy9Ed0FBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			CkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEK
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			CkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEK
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUVKQlEwdEhVazlW
			VGtRQUFBQUFBQUFBQU9nREFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFVa1ZCVEZSSlRVVmZVMGhQ
			VWxRQUFBSUVBQUFBQUJrQQpHUUJrQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBCkFBQkxSVkpPUlV3QUFBQUFBQUFBQUFB
			QUFBUmtBR1FBWkFDV0FNZ0FBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUZSSVVsVmZWRWxGVWpJQUFBQUFBQUFBQkdR
			QVpBQmtBR1FBQ2dBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFWRWhTClZWOVVTVVZTTXdBQUFBQUFBQUFDWkFCa0FQ
			UUJBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQlVTRkpWWDFSSlJWSTBBQUFBQUFBQUFBSElBT2dEQUFBQUFB
			QUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUZS
			SVVsVmZWRWxGClVqVUFBQUFBQUFBQUFPZ0RBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBCkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUEKQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QQpBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			CkFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEK
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQWRXSndZd0FBQUFB
			QUFBQUFBQUFBQUFFQUFBQnZabVlBQUFBQUFBQUFBQUFBCkFBQUFj
			R1Z5WmkxaWFXRnpBQUFBQUFBQUFBQUFBQUFCQUFBQUFBQUFBQUFB
			QUFBQUFBQUFhSGR3QUFBQUFBQUFBQUFBQUFBQUFBRUEKQUFCdmJn
			QUFBQUFBQUFBQUFBQUFBQUFBWlhCd0FBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBZFhScApiR2wwZVMx
			MGJIWnNBQUFBQUFBQUFBRDZBQUFBQUFBQUFBQUFBQUFBQUFBQWJt
			OXVMV1p2WTJGc0xYUnNkbXdBQUFBQUFBRDZBQUFBCkFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQpBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCkFBQUFBQUFBQUFBQUFB
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKPC9kYXRhPgogICAg
			ICA8L2FycmF5PgogICAgICA8a2V5PlRoZXJtYWxDb25maWd1cmF0
			aW9uPC9rZXk+CiAgICAgIDxkaWN0PgogICAgICAgIDxrZXk+RG9t
			YWluPC9rZXk+CiAgICAgICAgPGRpY3Q+CiAgICAgICAgICA8a2V5
			PkNQVTwva2V5PgogICAgICAgICAgPGRpY3Q+CiAgICAgICAgICAg
			IDxrZXk+U0ZJV2luZG93PC9rZXk+CiAgICAgICAgICAgIDxpbnRl
			Z2VyPjUwMDAwPC9pbnRlZ2VyPgogICAgICAgICAgICA8a2V5PlFP
			U1RoZXJtYWxUaHJlc2hvbGRzPC9rZXk+CiAgICAgICAgICAgIDxk
			aWN0PgogICAgICAgICAgICAgIDxrZXk+VXRpbGl0eTwva2V5Pgog
			ICAgICAgICAgICAgIDxpbnRlZ2VyPjI1MTwvaW50ZWdlcj4KICAg
			ICAgICAgICAgICA8a2V5Pk5vbkZvY2FsPC9rZXk+CiAgICAgICAg
			ICAgICAgPGludGVnZXI+MjUxPC9pbnRlZ2VyPgogICAgICAgICAg
			ICA8L2RpY3Q+CiAgICAgICAgICAgIDxrZXk+VGhlcm1hbFByZXNz
			dXJlPC9rZXk+CiAgICAgICAgICAgIDxkaWN0PgogICAgICAgICAg
			ICAgIDxrZXk+Tm9taW5hbDwva2V5PgogICAgICAgICAgICAgIDxk
			aWN0PgogICAgICAgICAgICAgICAgPGtleT5IaWdoVGhyZXNob2xk
			PC9rZXk+CiAgICAgICAgICAgICAgICA8aW50ZWdlcj4yMzU8L2lu
			dGVnZXI+CiAgICAgICAgICAgICAgICA8a2V5Pkxvd1RocmVzaG9s
			ZDwva2V5PgogICAgICAgICAgICAgICAgPGludGVnZXI+MDwvaW50
			ZWdlcj4KICAgICAgICAgICAgICA8L2RpY3Q+CiAgICAgICAgICAg
			ICAgPGtleT5Nb2RlcmF0ZTwva2V5PgogICAgICAgICAgICAgIDxk
			aWN0PgogICAgICAgICAgICAgICAgPGtleT5IaWdoVGhyZXNob2xk
			PC9rZXk+CiAgICAgICAgICAgICAgICA8aW50ZWdlcj4yNDA8L2lu
			dGVnZXI+CiAgICAgICAgICAgICAgICA8a2V5Pkxvd1RocmVzaG9s
			ZDwva2V5PgogICAgICAgICAgICAgICAgPGludGVnZXI+MjMyPC9p
			bnRlZ2VyPgogICAgICAgICAgICAgIDwvZGljdD4KICAgICAgICAg
			ICAgICA8a2V5PkhlYXZ5PC9rZXk+CiAgICAgICAgICAgICAgPGRp
			Y3Q+CiAgICAgICAgICAgICAgICA8a2V5PkhpZ2hUaHJlc2hvbGQ8
			L2tleT4KICAgICAgICAgICAgICAgIDxpbnRlZ2VyPjI0NTwvaW50
			ZWdlcj4KICAgICAgICAgICAgICAgIDxrZXk+TG93VGhyZXNob2xk
			PC9rZXk+CiAgICAgICAgICAgICAgICA8aW50ZWdlcj4yMzc8L2lu
			dGVnZXI+CiAgICAgICAgICAgICAgPC9kaWN0PgogICAgICAgICAg
			ICAgIDxrZXk+VHJhcHBpbmc8L2tleT4KICAgICAgICAgICAgICA8
			ZGljdD4KICAgICAgICAgICAgICAgIDxrZXk+SGlnaFRocmVzaG9s
			ZDwva2V5PgogICAgICAgICAgICAgICAgPGludGVnZXI+MjUwPC9p
			bnRlZ2VyPgogICAgICAgICAgICAgICAgPGtleT5Mb3dUaHJlc2hv
			bGQ8L2tleT4KICAgICAgICAgICAgICAgIDxpbnRlZ2VyPjI0Mjwv
			aW50ZWdlcj4KICAgICAgICAgICAgICA8L2RpY3Q+CiAgICAgICAg
			ICAgICAgPGtleT5TbGVlcGluZzwva2V5PgogICAgICAgICAgICAg
			IDxkaWN0PgogICAgICAgICAgICAgICAgPGtleT5IaWdoVGhyZXNo
			b2xkPC9rZXk+CiAgICAgICAgICAgICAgICA8aW50ZWdlcj4yNTI8
			L2ludGVnZXI+CiAgICAgICAgICAgICAgICA8a2V5Pkxvd1RocmVz
			aG9sZDwva2V5PgogICAgICAgICAgICAgICAgPGludGVnZXI+MjUx
			PC9pbnRlZ2VyPgogICAgICAgICAgICAgIDwvZGljdD4KICAgICAg
			ICAgICAgPC9kaWN0PgogICAgICAgICAgPC9kaWN0PgogICAgICAg
			ICAgPGtleT5HUFU8L2tleT4KICAgICAgICAgIDxkaWN0Lz4KICAg
			ICAgICAgIDxrZXk+SU88L2tleT4KICAgICAgICAgIDxkaWN0Lz4K
			ICAgICAgICA8L2RpY3Q+CiAgICAgIDwvZGljdD4KICAgICAgPGtl
			eT5VbmlmaWVkU2xlZXBTbGlkZXJQcmVmPC9rZXk+CiAgICAgIDx0
			cnVlLz4KICAgICAgPGtleT5UQ1BLZWVwQWxpdmVEdXJpbmdTbGVl
			cDwva2V5PgogICAgICA8dHJ1ZS8+CiAgICAgIDxrZXk+VENQS2Vl
			cEFsaXZlRXhwaXJhdGlvblRpbWVvdXQ8L2tleT4KICAgICAgPGlu
			dGVnZXI+NDMyMDA8L2ludGVnZXI+CiAgICAgIDxrZXk+Tm90aWZp
			Y2F0aW9uV2FrZTwva2V5PgogICAgICA8dHJ1ZS8+CiAgICAgIDxr
			ZXk+RE5EV2hpbGVEaXNwbGF5U2xlZXBzPC9rZXk+CiAgICAgIDx0
			cnVlLz4KICAgICAgPGtleT5EZWVwU2xlZXBDYXA8L2tleT4KICAg
			ICAgPGZhbHNlLz4KICAgICAgPGtleT5EYXJrV2FrZVNlcnZpY2Vz
			PC9rZXk+CiAgICAgIDxkaWN0PgogICAgICAgIDxrZXk+RGFya1dh
			a2VCYWNrZ3JvdW5kVGFza3M8L2tleT4KICAgICAgICA8aW50ZWdl
			cj4xPC9pbnRlZ2VyPgogICAgICAgIDxrZXk+U2xlZXBTZXJ2aWNl
			czwva2V5PgogICAgICAgIDxpbnRlZ2VyPjc8L2ludGVnZXI+CiAg
			ICAgICAgPGtleT5TbGVlcFNlcnZpY2VzTW9kZXM8L2tleT4KICAg
			ICAgICA8ZGljdD4KICAgICAgICAgIDxrZXk+TW9kZUE8L2tleT4K
			ICAgICAgICAgIDxkaWN0PgogICAgICAgICAgICA8a2V5PkV4cGly
			YXRpb248L2tleT4KICAgICAgICAgICAgPGludGVnZXI+MDwvaW50
			ZWdlcj4KICAgICAgICAgICAgPGtleT5CYXR0ZXJ5Rmxvb3I8L2tl
			eT4KICAgICAgICAgICAgPGludGVnZXI+MDwvaW50ZWdlcj4KICAg
			ICAgICAgICAgPGtleT5CYXNlSW50ZXJ2YWxzPC9rZXk+CiAgICAg
			ICAgICAgIDxkaWN0PgogICAgICAgICAgICAgIDxrZXk+QUM8L2tl
			eT4KICAgICAgICAgICAgICA8ZGljdD4KICAgICAgICAgICAgICAg
			IDxrZXk+QmFzZVNsZWVwSW50ZXJ2YWw8L2tleT4KICAgICAgICAg
			ICAgICAgIDxpbnRlZ2VyPjM2MDA8L2ludGVnZXI+CiAgICAgICAg
			ICAgICAgICA8a2V5PkJhc2VXYWtlQ2FwSW50ZXJ2YWw8L2tleT4K
			ICAgICAgICAgICAgICAgIDxpbnRlZ2VyPjg2NDAwPC9pbnRlZ2Vy
			PgogICAgICAgICAgICAgIDwvZGljdD4KICAgICAgICAgICAgICA8
			a2V5PkJhdHRlcnk8L2tleT4KICAgICAgICAgICAgICA8ZGljdD4K
			ICAgICAgICAgICAgICAgIDxrZXk+QmFzZVNsZWVwSW50ZXJ2YWw8
			L2tleT4KICAgICAgICAgICAgICAgIDxpbnRlZ2VyPjM2MDA8L2lu
			dGVnZXI+CiAgICAgICAgICAgICAgICA8a2V5PkJhc2VXYWtlQ2Fw
			SW50ZXJ2YWw8L2tleT4KICAgICAgICAgICAgICAgIDxpbnRlZ2Vy
			PjE4MDwvaW50ZWdlcj4KICAgICAgICAgICAgICA8L2RpY3Q+CiAg
			ICAgICAgICAgIDwvZGljdD4KICAgICAgICAgIDwvZGljdD4KICAg
			ICAgICA8L2RpY3Q+CiAgICAgIDwvZGljdD4KICAgIDwvZGljdD4K
			ICA8L2RpY3Q+CjwvcGxpc3Q+Cg==
			</data>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017-2022 PMheart. All rights reserved.</string>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
